<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-12 text-white">
      <form action="">
        <input
          type="text"
          placeholder="Username"
          class="px-6 border border-zinc-600 rounded-sm outline-none py-2 mb-4 bg-transparent"
        />
        <input
          type="text"
          placeholder="email"
          class="px-6 border border-zinc-600 rounded-sm outline-none py-2 mb-4 bg-transparent"
        />
        <input
          type="text"
          placeholder="Image url"
          class="px-6 border border-zinc-600 rounded-sm outline-none py-2 mb-4 bg-transparent"
        />
        <input
          type="submit"
          value="Create User"
          class="border border-zinc-500 px-5 py-2 rounded-sm bg-zinc-500 text-zinc-900 cursor-pointer"
        />
      </form>
    </div>
  </body>
</html>
